body {
	margin:10px;
	padding:0px;
	text-align:center;
	font-family: Helvetica, Arial, sans-serif;
	font-size:16px;
}

body, a {
	color:#333;
}

a:hover {
	text-decoration:none;
}

h1, h2, h3, h1 a, h2 a, h3 a, a.read-more {
	color: #000;
}

img {
	border:none;
}

#banner {
	margin:20px 0px;
	border-bottom:2px solid #ccc;
}

#banner h1, #banner h3{
	margin: 10px 0px 0px 0px;
	float:left;
}

#banner h3 {
	font-size:110%;
	padding-left:10px;
	margin-bottom:10px;
	color: #333;
}

#banner h1 a {
	text-decoration:none;
}

#banner h1 a:hover {
	text-decoration:underline;
}

#banner form {
	float:right;
}

#content, #top, #bottom {
	text-align:left;
	margin:auto;
	width:1000px;
}

#main {
    float:left;
    width: 70%;
}

#post, .excerpt {
	line-height:20px;
}

.paging {
	margin: 20px 0px;
}

.paging .newer {
	float:right;
}

.paging .older {
	float:left;
}

.clear {
	clear:both;
	height:0px;
	line-height:0px;
}

#comments {
	padding-top:10px;
}

#sidebar {
    font-size: 0.9em;
    float:right;
    width: 25%;
}

#sidebar ul {
    padding-left:15px;
}

#sidebar li {
    margin-left: 0px;
    padding-left: 0px;
    margin-bottom: 5px;
}


#license {
    clear:both;
}

.excerpt {
}

.meta {
  display: block;
	background-color:#EEEEEE;
	border:1px solid #CCCCCC;
	color:#666666;
	padding:5px;
}

#bottom {
	border-top:2px solid #CCCCCC;
	margin:10px auto;
	padding-top:5px;
}

.thumbnails img, img.thumbnails {
	max-width:100px;
	max-width:100px;
	padding:5px;
	float:left;
}