---
layout: default
title: blog, ideas, photos, everything
---

{% for post in paginator.posts %}
    <h2><a href="{{ post.url }}">{{ post.title }}</a></h2>
    <p class="excerpt">
        {{ post.content | strip_html | truncatewords:100 }} &nbsp;  <a href="{{ post.url }}" class='read-more'>Read more</a>
    </p>
    <small class="meta">{{ post.date | date:"%B %d, %Y" }} | <a href='{{ post.url }}#disqus_thread'>View Comments</a> 
      {% for t in post.tags %}
        {% if forloop.first == true %} | {% endif %}
        <a href='/tags.html#{{ t | escape }}'>{{ t }}</a>{% if forloop.last == false %}, {% endif %}
      {% endfor %} </small>
{% endfor %}

<div class='paging'>
  {% if paginator.next_page %}
    <a href='/Page{{paginator.next_page}}' class='older'>Older Posts</a>
  {% endif %}
{% if paginator.previous_page %}
  {% if paginator.previous_page == 1 %}
    <a href='/' class='newer'>Newer Posts</a>
  {% else %}
    <a href='/Page{{paginator.previous_page}}' class='newer'>Newer Posts</a>
  {% endif %}
{% endif %}
  
  <div class='clear'></div>
</div>