<!DOCTYPE html>
<html>
<head>
    <title>John Duff : {{ page.title }} </title>
    <meta http-equiv="Content-type" content="text/html; charset=utf-8" />
    <meta name="verify-v1" content="fI45uNHehVNiO9Dt0Fp7XnsV0Z/ozBTkPoS6RlYAe50=" />
    <link rel="stylesheet" type="text/css" href="/css/default.css" />
    <link rel="stylesheet" type="text/css" href="/css/syntax.css" />
    <link href="http://feeds.feedburner.com/JohnDuffsBlog" type="application/atom+xml" rel="alternate" title="John Duff's blog" />
</head>
<body>
    <div id="top">
    </div>
    
    <div id="content">
    <div id="banner">
        <h1><a href="http://jduff.github.com">John Duff</a></h1>
        <div class='clear'></div>
        <h3>blog, ideas, photos, everything</h3>
        
        <form action="http://jduff.github.com/search/" id="cse-search-box">
          <div>
            <input type="hidden" name="cx" value="partner-pub-9891348073545685:87fahy-qwta" />
            <input type="hidden" name="cof" value="FORID:11" />
            <input type="hidden" name="ie" value="ISO-8859-1" />
            <input type="text" name="q" size="31" />
            <input type="submit" name="sa" value="Search" />
          </div>
        </form>
        <div class='clear'></div>

        <script type="text/javascript" src="http://www.google.com/coop/cse/brand?form=cse-search-box&amp;lang=en"></script>

    </div>
    
    <div id="page">
            <div id="main">
                {{ content }}
            </div>
            <div id="sidebar">
              <script type="text/javascript"><!--
              google_ad_client = "pub-9891348073545685";
              /* jduff.github.com square 250 */
              google_ad_slot = "6433109702";
              google_ad_width = 250;
              google_ad_height = 250;
              //-->
              </script>
              <script type="text/javascript"
              src="http://pagead2.googlesyndication.com/pagead/show_ads.js">
              </script>
              <br />
              <div id="twitter_div">
                  
              <h3>Twitter Updates</h3>
              <ul id="twitter_update_list"></ul>
              <a href="http://twitter.com/johnduff" id="twitter-link" style="display:block;text-align:right;">follow me on Twitter</a>
              </div>
              <div id="dsq-recentcomments" class="dsq-widget">
                <h3 class="dsq-widget-title">Recent Comments</h3>
                <script type="text/javascript" src="http://disqus.com/forums/johnduff/recent_comments_widget.js?num_items=5&avatar_size=32"></script>
              </div>
              <a href="http://disqus.com">Powered by Disqus</a>
              
            </div>
        <div id="license">
        </div>
        
    </div>
</div>


    <div id="bottom">
        <a href="http://jduff.github.com">Home</a> |
        <a href="/archives/">Archives</a> |
        <a href="http://feeds.feedburner.com/JohnDuffsBlog">RSS</a> |
        <a href="/about/">About</a>
    </div>
    
    <!-- Google Analytics Code -->
    <script type="text/javascript">
    var gaJsHost = (("https:" == document.location.protocol) ? "https://ssl." : "http://www.");
    document.write(unescape("%3Cscript src='" + gaJsHost + "google-analytics.com/ga.js' type='text/javascript'%3E%3C/script%3E"));
    </script>
    <script type="text/javascript">
    try {
    var pageTracker = _gat._getTracker("UA-9947336-1");
    pageTracker._trackPageview();
    } catch(err) {}</script>
    
    <!-- Twitter Badge Code -->
    <script type="text/javascript" src="http://twitter.com/javascripts/blogger.js"></script>
    <script type="text/javascript" src="http://twitter.com/statuses/user_timeline/johnduff.json?callback=twitterCallback2&amp;count=5"></script>

</body>
</html>

